# Standard Python ignores
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/
env/
mvp-env/
project-env/

# Instance folder (often contains secrets or DB)
/instance/

# Actual environment file (contains secrets)
.env